@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: fit-content;
  background: linear-gradient(to right, #c9e7f2, #62bada);
  position: relative;
}
nav {
  width: 1202px;
  display: flex;
  gap: 320px;
  align-items: center;
  padding: 44px 123px 0 115px;
}
.nav-list {
  width: 322px;
  height: 19px;
  display: flex;
  gap: 39px;
  list-style: none;

  li {
    a {
      @include anchor-text-decoration;
      font-size: 0.9rem;
      font-weight:600;
    }
  }
  .nav-list-item {
    display: flex;
    gap: 10px;
  }
}
.logo {
  @include anchor-text-decoration;
  font-family: "Gilroy-Bold", sans-serif;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  font-size: 1.3rem;
}
.btn-auth {
  display: flex;
  gap: 50px;

  button {
    @include btn-primary;
    .btn-start-free {
      color: white;
    }
  }

  a {
    @include anchor-text-decoration;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight:600;
  }
}

.header-hero {
  display: flex;
  gap: 17px;
  margin-left: 115px;
}

.hero-content {
  width: 646px;
  height: 521px;
  padding-top: 140px;
  h1 {
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 22px;
  }
  p {
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    color: #64607d;
    width: 400px;
    line-height: 1.5;
    margin-bottom: 56px;
  }

  .btn-wrapper {
    display: flex;
    gap: 50px;
    margin-bottom: 53px;

    button {
      @include btn-primary;
      border-radius: 47px;
      background-color: #3734A9;
      a {
        @include anchor-text-decoration;
        color: white;
      }
    }
    .btn-see-works {
      display: flex;
      align-items: center;

      a {
        @include anchor-text-decoration;
        margin-left: 11px;
        color: #3734a9;
      }
    }
  }
  .feature-list {
    display: flex;
    gap: 25px;
    margin-bottom: 98px;
    .feature-one {
      display: flex;
      gap: 10px;
      align-items: center;
      a {
        @include anchor-text-decoration;
        color: #757095;
      }
    }
    .feature-two {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        @include anchor-text-decoration;
        color: #757095;
      }
    }
  }
}
.hero-image {
  img {
    width: 508px;
    height: 966px;
  }
}
.decoration-design1 {
  position: absolute;
  top: 675px;
}
.decoration-design2 {
  position: absolute;
  top: 275px;
  right: 0px;
}
.decoration-design3 {
  position: absolute;
  top: 735px;
  right: 0px;
}
