@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafbff;
}

header {
  width: 100%;
  height: fit-content;
  background: linear-gradient(to right, #c9e7f2, #62bada);
  position: relative;
}
nav {
  width: 1202px;
  display: flex;
  gap: 320px;
  align-items: center;
  padding: 44px 123px 0 115px;
}
.nav-list {
  width: 322px;
  height: 19px;
  display: flex;
  gap: 39px;
  list-style: none;

  li {
    a {
      @include anchor-text-decoration;
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
  .nav-list-item {
    display: flex;
    gap: 10px;
  }
}
.logo {
  @include anchor-text-decoration;
  font-family: "Gilroy-Bold", sans-serif;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  font-size: 1.3rem;
}
.btn-auth {
  display: flex;
  gap: 50px;

  button {
    @include btn-primary;
    .btn-start-free {
      color: white;
    }
  }

  a {
    @include anchor-text-decoration;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.header-hero {
  display: flex;
  gap: 17px;
  margin-left: 115px;
}

.hero-content {
  width: 646px;
  height: 521px;
  padding-top: 140px;
  h1 {
    font: 900 3.5rem "Manrope", sans-serif;
    margin-bottom: 22px;
  }
  p {
    font: 1rem/1.5 "Manrope", sans-serif;
    color: #64607d;
    width: 400px;
    margin-bottom: 56px;
  }

  .btn-wrapper {
    display: flex;
    gap: 50px;
    margin-bottom: 53px;

    button {
      @include btn-primary;
      border-radius: 47px;
      background-color: #3734a9;
      a {
        @include anchor-text-decoration;
        color: white;
      }
    }
    .btn-see-works {
      display: flex;
      align-items: center;

      a {
        @include anchor-text-decoration;
        margin-left: 11px;
        color: #3734a9;
      }
    }
  }
  .feature-list {
    display: flex;
    gap: 25px;
    margin-bottom: 98px;
    .feature-one {
      display: flex;
      gap: 10px;
      align-items: center;
      a {
        @include anchor-text-decoration;
        color: #757095;
      }
    }
    .feature-two {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        @include anchor-text-decoration;
        color: #757095;
      }
    }
  }
}
.hero-image {
  img {
    width: 31.75rem;
    height: 60.375rem;
  }
}
.decoration-design1 {
  position: absolute;
  top: 675px;
}
.decoration-design2 {
  position: absolute;
  top: 275px;
  right: 0px;
}
.decoration-design3 {
  position: absolute;
  top: 735px;
  right: 0px;
}

main {
  width: 100%;
  height: fit-content;
}

.main-first-section {
  width: 100%;
  height: 13rem;
  background-color: #f5f6f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 866px;

  h2 {
    font: 500 1.375rem "Manrope", sans-serif;
  }

  div {
    display: flex;
    gap: 50px;
    margin-top: 36px;
    .company-logo {
      width: 145px;
      height: 35px;
    }
  }
}

.main-second-section {
  display: flex;
  gap: 17rem;
  justify-content: center;
  margin-top: 7rem;
}
.second-section-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 31rem;
  height: 18rem;
  font: 900 1.79rem "Manrope", sans-serif;

  h1 {
    line-height: 4rem;
    margin-bottom: 1.1rem;
  }
  p {
    font-weight: 500;
    font-size: 1.075rem;
    line-height: 1.8rem;
  }
}
.second-section-testimonial {
  width: 24.9rem;
  height: 11.2rem;
  border-radius: 20px;
  background-color: rgba($color: #c4c4c4, $alpha: 0.3);
  img {
    position: relative;
    top: -20px;
    left: 35px;
  }
  p {
    font: 700 0.885rem/1.3rem "Manrope", sans-serif;
    width: 21rem;
    margin: -10px auto;
  }
  .speaker {
    margin-top: 28px;
  }
}

.main-third-section {
  display: flex;
  justify-content: center;
  gap: 1.9rem;
  margin-left: 3rem;
}

.third-section-card {
  width: 24rem;
  height: 26rem;
  border: 1px solid #dbe4e9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: white;
  .card-number {
    position: absolute;
    top: 1.5rem;
    left: 1.6rem;
    font: 900 1.37rem "Manrope", sans-serif;
  }
  .card-title {
    width: 19rem;
    font: 900 2rem/2rem "Manrope", sans-serif;
    margin-top: 2.1rem;
  }
  .card-text {
    width: 19rem;
    font: 400 0.9rem/1.6rem "Manrope", sans-serif;
    color: #64607d;
  }
  .card-icon {
    width: 3.1rem;
    height: 2.6rem;
  }
}

.main-fourth-section {
  display: flex;
  gap: 0.7rem;
  position: relative;
  margin-top: 8rem;
  margin-left: 9.4rem;
  .decoration-image {
    position: absolute;
    left: 31rem;
    top: -1.2rem;
  }
  .payment-track-image {
    width: 45rem;
    height: 39.7rem;
  }
}
.fourth-section-content {
  width: 33rem;
  height: 35.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font: 900 3.1rem/1.1 "Manrope", sans-serif;
    margin-bottom:1.4rem;
  }
  .first-paragraph {
    font: 900 0.9rem "Manrope", sans-serif;
    color: #3734a9;
  }
  .second-paragraph {
    width: 31rem;
    font: 500 1.2rem/2rem "Manrope", sans-serif;
    color: #64607d;
    li {
      list-style: none;
      margin-bottom: 0.5rem;
    }
    img {
      width: 1.4rem;
      margin-right: 9px;
    }
  }
  hr {
    margin: 0.7rem 0;
  }
}
