@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafbff;
}

header {
  width: 100%;
  height: fit-content;
  background: linear-gradient(to right, #c9e7f2, #62bada);
  position: relative;
}

nav {
  width: 75.1rem;
  display: flex;
  gap: 20rem;
  align-items: center;
  padding: 2.75rem 7.6rem 0 7.1rem;
}

.nav-list {
  width: 20.1rem;
  height: 1.18rem;
  display: flex;
  gap: 2.4rem;
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}
.nav-list .nav-list-item {
  display: flex;
  gap: 0.62rem;
}

.logo {
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
  font-family: "Gilroy-Bold", sans-serif;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  font-size: 1.3rem;
}

.btn-auth {
  display: flex;
  gap: 3.1rem;
}
.btn-auth button {
  background-color: #4f46ba;
  width: 145px;
  height: 52px;
  padding: 16px 36px;
  border: none;
}
.btn-auth button:hover {
  cursor: pointer;
}
.btn-auth button .btn-start-free {
  color: white;
}
.btn-auth a {
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.header-hero {
  display: flex;
  gap: 1rem;
  margin-left: 7.2rem;
}

.hero-content {
  width: 40.3rem;
  height: 32.56rem;
  padding-top: 8.75rem;
}
.hero-content h1 {
  font: 900 3.5rem "Manrope", sans-serif;
  margin-bottom: 1.3rem;
}
.hero-content p {
  font: 1rem/1.5 "Manrope", sans-serif;
  color: #64607d;
  width: 25rem;
  margin-bottom: 3.5rem;
}
.hero-content .btn-wrapper {
  display: flex;
  gap: 3.1rem;
  margin-bottom: 3.3rem;
}
.hero-content .btn-wrapper button {
  background-color: #4f46ba;
  width: 145px;
  height: 52px;
  padding: 16px 36px;
  border: none;
}
.hero-content .btn-wrapper button:hover {
  cursor: pointer;
}
.hero-content .btn-wrapper button {
  border-radius: 47px;
  background-color: #3734a9;
}
.hero-content .btn-wrapper button a {
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
  color: white;
}
.hero-content .btn-wrapper .btn-see-works {
  display: flex;
  align-items: center;
}
.hero-content .btn-wrapper .btn-see-works a {
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
  margin-left: 0.68rem;
  color: #3734a9;
}
.hero-content .feature-list {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 6.12rem;
}
.hero-content .feature-list .feature-one {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.hero-content .feature-list .feature-one a {
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
  color: #757095;
}
.hero-content .feature-list .feature-two {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.hero-content .feature-list .feature-two a {
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
  color: #757095;
}

.hero-image img {
  width: 31.75rem;
  height: 60.375rem;
}

.decoration-design1 {
  position: absolute;
  top: 42.1rem;
}

.decoration-design2 {
  position: absolute;
  top: 17.1rem;
  right: 0px;
}

.decoration-design3 {
  position: absolute;
  top: 45.9rem;
  right: 0px;
}

main {
  width: 100%;
  height: fit-content;
}

.main-first-section {
  width: 100%;
  height: 13rem;
  background-color: #f5f6f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 54.12rem;
}
.main-first-section h2 {
  font: 500 1.375rem "Manrope", sans-serif;
}
.main-first-section div {
  display: flex;
  gap: 3.1rem;
  margin-top: 2.25rem;
}
.main-first-section div .company-logo {
  width: 9.06rem;
  height: 2.1rem;
}

.main-second-section {
  display: flex;
  gap: 17rem;
  justify-content: center;
  margin-top: 7rem;
}

.second-section-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 31rem;
  height: 18rem;
  font: 900 1.79rem "Manrope", sans-serif;
}
.second-section-content h1 {
  line-height: 4rem;
  margin-bottom: 1.1rem;
}
.second-section-content p {
  font-weight: 500;
  font-size: 1.075rem;
  line-height: 1.8rem;
}

.second-section-testimonial,
.fifth-section-testimonial {
  width: 24.9rem;
  height: 11.2rem;
  border-radius: 20px;
  background-color: rgba(196, 196, 196, 0.3);
}
.second-section-testimonial img,
.fifth-section-testimonial img {
  position: relative;
  top: -1.25rem;
  left: 2.1rem;
}
.second-section-testimonial p,
.fifth-section-testimonial p {
  font: 700 0.885rem/1.3rem "Manrope", sans-serif;
  width: 21rem;
  margin: -0.6rem auto;
}
.second-section-testimonial .speaker,
.fifth-section-testimonial .speaker {
  margin-top: 1.75rem;
}

.main-third-section {
  display: flex;
  justify-content: center;
  gap: 1.9rem;
  margin-left: 3rem;
}

.third-section-card {
  width: 24rem;
  height: 26rem;
  border: 1px solid #dbe4e9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: white;
}
.third-section-card .card-number {
  position: absolute;
  top: 1.5rem;
  left: 1.6rem;
  font: 900 1.37rem "Manrope", sans-serif;
}
.third-section-card .card-title {
  width: 19rem;
  font: 900 2rem/2rem "Manrope", sans-serif;
  margin-top: 2.1rem;
}
.third-section-card .card-text {
  width: 19rem;
  font: 400 0.9rem/1.6rem "Manrope", sans-serif;
  color: #64607d;
}
.third-section-card .card-icon {
  width: 3.1rem;
  height: 2.6rem;
}

.main-fourth-section,
.main-fifth-section {
  display: flex;
  gap: 0.7rem;
  position: relative;
  margin-top: 8rem;
  margin-left: 9.4rem;
}
.main-fourth-section .decoration-image,
.main-fifth-section .decoration-image {
  position: absolute;
  left: 31rem;
  top: -1.2rem;
}
.main-fourth-section .payment-track-image,
.main-fifth-section .payment-track-image {
  width: 45rem;
  height: 39.7rem;
}
.main-fourth-section .fifth-section-image,
.main-fifth-section .fifth-section-image {
  position: absolute;
  top: -10.5rem;
  left: 31rem;
  width: 42rem;
}

.fourth-section-content,
.fifth-section-content {
  width: 33rem;
  height: 35.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fourth-section-content h1,
.fifth-section-content h1 {
  font: 900 3.1rem/1.1 "Manrope", sans-serif;
  margin-bottom: 1.4rem;
}
.fourth-section-content .first-paragraph,
.fifth-section-content .first-paragraph {
  font: 900 0.9rem "Manrope", sans-serif;
  color: #3734a9;
}
.fourth-section-content .second-paragraph,
.fifth-section-content .second-paragraph {
  width: 31rem;
  font: 500 1.2rem/2rem "Manrope", sans-serif;
  color: #64607d;
}
.fourth-section-content .second-paragraph li,
.fifth-section-content .second-paragraph li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.fourth-section-content .second-paragraph img,
.fifth-section-content .second-paragraph img {
  width: 1.4rem;
  margin-right: 0.56rem;
}
.fourth-section-content hr,
.fifth-section-content hr {
  margin: 0.7rem 0;
}

.main-fifth-section {
  margin-top: 2.5rem;
  margin-left: 12rem;
}

.fifth-section-content h1 {
  margin-bottom: 0.1rem;
}
.fifth-section-content .second-paragraph {
  width: 28rem;
}

.fifth-section-testimonial {
  width: 29.9rem;
  height: 9.5rem;
  margin-top: 2.2rem;
}
.fifth-section-testimonial img {
  top: -1.06rem;
  left: 1.75rem;
  width: 2.5rem;
}
.fifth-section-testimonial p {
  width: 27rem;
}

.main-sixth-section {
  background-color: #c9e7f2;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 6rem;
  width: 100%;
  position: relative;
}
.main-sixth-section .sixth-decoration-design {
  position: absolute;
  left: 0rem;
  top: 41rem;
}

.card-container {
  display: flex;
  gap: 2rem;
}
.card-container .division-card {
  background-color: #c9e7f2;
  border: none;
  display: flex;
  gap: 2.1rem;
  padding-left: 0rem;
}
.card-container .division-card .sub-card {
  width: 23.75rem;
  height: 9.8rem;
  border: 1px solid #abc8d2;
  border-radius: 20px;
  background-color: white;
  padding: 2.265rem 2.3rem 2.1rem 1.975rem;
}
.card-container .division-card .sub-card h4 {
  width: 19rem;
  font: 900 1.2rem/1.6 "Manrope", sans-serif;
}

.sixth-section-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.sixth-section-container h1 {
  font: 900 4.1rem "Manrope", sans-serif;
}
.sixth-section-container p {
  font: 600 1rem/1.6 "Manrope", sans-serif;
  width: 36rem;
  margin-bottom: 2.1rem;
}

.sixth-section-card {
  width: 23.75rem;
  height: 22rem;
  border: 1px solid #abc8d2;
  border-radius: 20px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
  position: relative;
  background-color: white;
  text-align: start;
  padding-left: 1.9rem;
}
.sixth-section-card .card-title {
  width: 18rem;
  font: 900 1.3rem/2rem "Manrope", sans-serif;
}
.sixth-section-card .card-text {
  width: 18rem;
  font: 500 0.9rem/1.6rem "Manrope", sans-serif;
  color: black;
}
.sixth-section-card .card-icon {
  width: 3.1rem;
  height: 2.6rem;
  margin-top: 3.3rem;
  margin-bottom: 2rem;
}

.main-seventh-section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 8rem 9.8rem;
  position: relative;
}
.main-seventh-section h1 {
  font: 900 4.4rem "Manrope", sans-serif;
}
.main-seventh-section .seventh-section-paragraph {
  font: 500 1rem "Manrope", sans-serif;
  width: 37rem;
  margin-bottom: 1.3rem;
}
.main-seventh-section .seventh-decoration-design {
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.seventh-section-testimonial {
  width: 43.6rem;
  height: 25rem;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  position: relative;
  padding: 4.8rem 2rem;
}
.seventh-section-testimonial .double-quote {
  width: 3.5rem;
  position: absolute;
  top: -1.4rem;
  left: 2rem;
}
.seventh-section-testimonial .card-content {
  width: 22rem;
}
.seventh-section-testimonial .card-content p {
  font: 600 1.45rem/1.4 "Manrope", sans-serif;
  margin-bottom: 2.5rem;
}
.seventh-section-testimonial .card-content .speaker {
  font: 500 1.1rem/1.4 "Manrope", sans-serif;
}
.seventh-section-testimonial .card-content .seventh-section-testimonial-image {
  width: 15rem;
  height: 21.875rem;
}

.seventh-section-testimonial-list {
  display: flex;
  gap: 2.5rem;
  flex-wrap: nowrap;
}

.main-eighth-section {
  height: 16rem;
  background-color: #3734a9;
  display: flex;
  gap: 1.8rem;
  justify-content: center;
  margin-top: 9.3rem;
  position: relative;
}
.main-eighth-section hr {
  border: 2px solid #3d3d3d;
}
.main-eighth-section .eighth-section-paragraph {
  font: 400 1.1rem/1.9 "Manrope", sans-serif;
  color: white;
  width: 9rem;
  margin: 5.1rem 0 5.1rem 2.3rem;
}
.main-eighth-section .first-stat {
  margin-left: 2.6rem;
}
.main-eighth-section .second-stat {
  margin-left: 7.6rem;
}
.main-eighth-section .third-stat {
  margin-left: 6rem;
}
.main-eighth-section .eighth-decoration-design {
  position: absolute;
  right: 0rem;
  top: 1rem;
}

.eighth-section-stats {
  margin: 4.3rem 0 3.9rem 0;
  color: white;
}
.eighth-section-stats h1 {
  font: 900 4.5rem/1.5 "Manrope", sans-serif;
}

.stat-title {
  display: flex;
  gap: 1rem;
}
.stat-title p {
  font: 400 1.7rem/0.9 "Manrope", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  margin: 9.3rem 7.5rem 0;
  border-bottom: 2px solid #e5e5ea;
  padding-bottom: 3.6rem;
}

.AR-Shakir-details h4 {
  font: 700 1.2rem "Gilroy-Bold", sans-serif;
  color: #1b1c31;
  margin-bottom: 1.1rem;
}
.AR-Shakir-details p {
  font: 500 1rem "Manrope", sans-serif;
  width: 13.3rem;
  color: #757095;
  margin-bottom: 1.9rem;
}
.AR-Shakir-details ul {
  width: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.company-details-navigation h4 {
  font: 700 1.2rem "Manrope", sans-serif;
  color: #181433;
  margin-bottom: 1.6rem;
}
.company-details-navigation ul {
  list-style: none;
}
.company-details-navigation ul li {
  margin-bottom: 1.1rem;
}
.company-details-navigation a {
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
  color: #181433;
  font: 600 1rem "Manrope", sans-serif;
}

.resources-list h4 {
  font: 700 1.2rem "Manrope", sans-serif;
  color: #181433;
  margin-bottom: 1.6rem;
}
.resources-list ul {
  list-style: none;
}
.resources-list ul li {
  margin-bottom: 0.8rem;
  font: 500 1rem "Manrope", sans-serif;
}

.company-join-section h4 {
  font: 700 1.2rem "Manrope", sans-serif;
  color: #181433;
  margin-bottom: 1.6rem;
}
.company-join-section input {
  width: 16rem;
  height: 3.25rem;
  padding: 0.9rem 0.9rem;
  background-color: #eeeeff;
  border: none;
}
.company-join-section input::placeholder {
  font: 500 0.7rem "Manrope", sans-serif;
  color: rgba(24, 20, 51, 0.2);
}
.company-join-section .footer-input-button-group {
  display: flex;
}
.company-join-section button {
  height: 3.25rem;
  font: 500 1rem "Manrope", sans-serif;
  padding: 0.8rem 2.6rem;
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-bottom: 1.4rem;
}
.company-join-section p {
  font: 500 1rem "Manrope", sans-serif;
  color: #181433;
}

.footer-copywrite-section {
  font: 500 1rem "Manrope", sans-serif;
  text-align: center;
  color: #181433;
  margin: 2.5rem auto 3.6rem;
}

/*# sourceMappingURL=style.css.map */
